@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <title>RsvpForm</title>
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary() //Metoda pomocnicza do sprawdzania błędów formularza

        <p> Imie: @Html.TextBoxFor(x => x.Name)</p>
        <p> Twój adres e-mail: @Html.TextBoxFor(x => x.Email)</p>
        <p> Twój telefon:  @Html.TextBoxFor(x => x.Phone)</p>
        <p>
            Czy przyjdziesz na przyjęcie?
            @Html.DropDownListFor( x => x.WillAttend, new[]
            {
                new SelectListItem() {Text = "Tak, przyjdę.", Value = bool.TrueString },
                new SelectListItem() { Text = "Nie, nie przyjdę.", Value = bool.FalseString}
            }, "Wybierz opcję: ");
        </p>
        <input type="submit" value="Wyślij RSVP"/>
    }



</body>
</html>
